body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #974fb8;
}

h1 {
  text-align: center;
  color: #ffffff;
}

form {
  margin-bottom: 20px;
  background-color: #8d5b7a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  background-color: #a0456f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #a0456f;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #a0456f;
  font-weight: bold;
  color: #000000;
}

.product-image {
  max-width: 200px;
  height: auto;
}

.editar-button {
  background-color: #2196F3;
}

.excluir-button {
  background-color: #F44336;
}

.button-container {
  display: flex;
}
  